.menu__link_type_btn-triangle-off {
  position: relative;
  border: 0;
  padding: 0;
  padding-left: 32px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.menu__link_type_btn-triangle-off::after {
  content: '';
  position: absolute;
  right: 22px;
  bottom: 4px;
  border: 6px solid transparent;
  border-top: 12px solid #A8A8A8;
}

@media screen and (max-width: 767px) {
  .menu__link_type_btn-triangle-off {
    padding-left: 6px;
  }

  .menu__link_type_btn-triangle-off::after {
    display: none;
  }
}